body{
    padding:0;
    margin:0;
    height:100vh;
    font-family: 'Roboto', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* All header styles start here  */

.header{
    
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header-top{
    width:800px;
    display: flex;
    justify-content: space-between;
}

button{
    
    padding:10px 30px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    
}

.header-bottom{
    width:800px;
    display: flex;
    justify-content: space-between;
    border-color: none;
}

.logo p{
    padding:0;
    margin:0;
    font-size:24px;
    color: #F9FAF8;
}

h1{
    font-size:48px;
    color:#F9FAF8;
    font-weight: 900;
}

.header-main-text p, .header-links a{
    font-size:18px;
    color:#E5E7EB;
}

.header-main-text{
    width:300px;
}

.header-links a{
    text-decoration: none ;
}

.header-links{
    display: flex;
    gap:20px;
}

/*  all body style selector start here  */

.body-content{

    display: flex;
    flex-direction: column;
    flex:1;

}

.body-images-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    
}

.body-image-one,.body-image-two,.body-image-three,.body-image-four{
    width: 200px;
    height: 350px;
    text-align: center;
}
.img-border img{
    
     border: 5px solid #3882F6;
}


.quote {
    
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
}

.quote-text{
    width: 800px;
    justify-self: center;
}

.quote .author {
    width:800px;
    font-weight: bold;
    justify-self: center;
}

/* all sing-up selector start here */

.sing-up {
    background-color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
}

.sing-up-box {
    
    width:800px;
    background-color: #3882F6;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: space-around;

}



.sing-up-box button{
    margin:50px;
    border-color: white;
    
}

/* all footer selector start here */

.footer{
    
    padding:40px 800px;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    
}